<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content='true' name='HandheldFriendly'/>
    <meta content='width' name='MobileOptimized'/>
    <meta content='yes' name='apple-mobile-web-app-capable'/>
    <title>OnlineStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <meta name="theme-color" content="#712cf9">
  </head>

  <body>
    <div class="row">
        <%= render partial: "layouts/template/form_home_navbar" %>
    </div>

    <main class="container">
      <div class="row">
        <%= render partial: "layouts/template/form_flash" %>
      </div>

      <%= yield %>
    
    </main>

    <div class="row">
        <%= render partial: "layouts/template/form_home_footer" %>
    </div>
  </body>
</html>
