
<div class="card mb-3" style="max-width: 1200px;">
  <div class="row g-0">
    <div class="col-md-4">
    <% if @product.image.attached? %>
      <%= image_tag(@product.image.variant(:medium), height: 200, width: 200)%>
    <%else%>
      <%= image_tag "zaglushka.png", height: 200, width: 200 %>
    <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">название <%= @product.name%></h5>
        <p class="card-text">описание <%= @product.description%></p>
        <p class="card-text"><small class="text-muted">test</small></p>
      </div>
        <ul class="list-group list-group-flush">
    <li class="list-group-item">цена <%= number_to_currency(@product.price)%></li>
    <li class="list-group-item"><%= button_to "add to cart", line_items_path(product_id: @product.id), class: "btn btn-primary"%></li>
  </ul>
    </div>
  </div>
</div>