<div>
    <table>
        <tr>
            <td>name: </td>
            <td><%=pet_interaction.name%></td>
        </tr>
        <tr>
            <td>life: </td>
            <td><%=pet_interaction.life%></td>
        </tr>
        <tr>
            <td>mood: </td>
            <td><%=pet_interaction.mood%></td>
        </tr>
        <tr>
            <td>sleep: </td>
            <td><%=pet_interaction.sleep_t%></td>
        </tr>
        <tr>
            <td>hunger: </td>
            <td><%=pet_interaction.hunger%></td>
        </tr>
        <tr>
            <td>toilet: </td>
            <td><%=pet_interaction.toilet%></td>
        </tr>
        <tr>
            <td>smart: </td>
            <td><%=pet_interaction.smart%></td>
        </tr>
        <tr>
            <td>speak pet: </td>
            <td><%=pet_interaction.info_pet%></td>
        </tr>
    </table>
    <div>
     alert: ---- <%=pet_interaction.info%> ----
    </div>
</div>