<h1>Order #<%= @order.id %></h1>

<table class='table'>
  <tr>
    <th>#</th>
    <th>image</th>
    <th>name</th>
    <th>quantity</th>
    <th>status</th>
    <th>price</th>
  </tr>
  <% @sum_order = 0 %>
  <% @order.cart.line_items.each_with_index do |line_item, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= image_tag image_url(line_item.product.image), height: 100, width: 100 %> </td>
      <td><%= line_item.product.name %></td>
      <td><%= line_item.quantity %></td>
      <td><%= @order.status %></td>
      <td><%= line_item.product.price * line_item.quantity %></td>
  </tr>
  
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><b>total pticy: <%= line_item.price * line_item.quantity %><b></td>
  </tr>
  <% @sum_order += line_item.price * line_item.quantity %>
  <% end %>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><b>full total pticy: <%= @sum_order %><b></td>
  </tr>
</table>