
<% @products.each do |products|%>
  <div class="col mt-3">
    <div class="card" style="width: 15rem;">
    <%if products.image.attached?%>
      <%= image_tag(products.image.variant(:main), height: 235, width: 235) %>
    <%else%>
      <%= image_tag "zaglushka.png", height: 235, width: 235 %>
    <%end%>  
      <div class="card-body">
        <%= link_to products.name, products%>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">pricy <%= number_to_currency(products.price)%></li>
        <li class="list-group-item"><%= button_to "add to cart", line_items_path(product_id: products.id), class: "btn btn-primary"%></li>
        <li class="list-group-item"><%= button_to (current_product_quantity(products.id).present?) ? "In cart" : "Add to cart", line_items_path(product_id: products.id), class: "btn btn-primary add-to-cart" %></li>
      </ul>
    </div>
  </div>
<%end%>
